*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#Page{
    display: flex;
    flex-direction: column;
}

/* NAVIGATION START */
nav{
    height: 25px;
    width: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    margin-top: 0.5%;
}
nav #n1{
    height: 25px;
    width: 15%;
    font-size: 20px;
    background-color: transparent;
    color: blue;
    margin-left: 10px;
    float: left;
}
nav #n2{
    height: 25px;
    width: 55%;
    margin-left: 50px;
    background-color: transparent;
    float: left;
}
#n2 input{
    width: 600px;
    outline: none;
    border: none;
    font-size: 20px;
    box-shadow: 0px 1px blue;
    color: gray;
}
nav #n3{
    height: 25px;
    width: 30%;
    background-color: transparent;
    float: left;
    display: block
}
#n3 ul li{
    list-style: none;
    display: inline;
    padding-right: 20px;
    color: blue;
    font-size: 20px;
}
/* NAVIGATION OVER */

/* HEADER START */
header{
    height: 30px;
    width: 100%;
    background-color: blue;
    margin-top: 20px;
}
header #h1{
    height: 20px;
    width: 15%;
    line-height: 1.6;
    margin-left: 15px;
    background-color: transparent;
    font-size: 18px;
    color: white;
    float: left;
}
header #h2{
    height: 20px;
    width: 70%;
    background-color: transparent;
    float: left;
    margin-left: 210px;
    display: block;
}
#h2 ul li{ 
    list-style: none;
    display: inline;
    padding: 0px 20px;
    color: white;
    line-height: 1.5;
}
header #h2 ul li a{
    text-decoration: none;
    color: white;
}
#bar{
    display: none;
}
/* HEADER OVER */

/* MAIN CONTENT START */
main{
    height: 600px;
    width: 1000px;
    background-color: transparent;
    margin: 40px auto 0px;
    display: flex;
    flex-direction: column;
}
#part1{
    height: 40px;
    width: 998px;
    background-color: rgb(184, 184, 184);
    padding: 5px 385px;
    font-size: 25px;
}
#part2{
    font-size: 30px;
    height: 30px;
    width: 250px;
    background-color: transparent;
    margin: 10px auto;
}
#part3{
    height: 30px;
    width: 360px;
    background-color: transparent;
    font-size: 20px;
    margin: 5px auto;
}
/* MAIN CONTENT OVER */

/* FOOTER START */
#footer{
    height: 250px;
    width: 100%;
    background-color: rgb(0, 0, 63);
    margin-top: 5px;
}
#f1{
    height: 200px;
    width: 25%;
    background-color: transparent;
    float: left;
}
#l1{
    margin: 20px 0px 10px 80px;
    font-size: 30px;
    color: white;
}
#l2{
    margin: 20px 0px 0px 80px;
    font-size: 20px;
    color: white;
}
#f2{
    height: 200px;
    width: 25%;
    background-color: transparent;
    float: left;
}
#f3{
    height: 200px;
    width: 25%;
    background-color: transparent;
    float: left;
}
#f4{
    height: 200px;
    width: 25%;
    background-color: transparent;
    float: left;
}
#lastl{
    height: 30px;
    width: 430px;
    color: white;
    margin: 10px auto;
    font-size: 20px;
    background-color: transparent;
}
/* FOOTER OVER */